/* styling av bli_medlem.html og blogg.html */




/* inline added by JS */

.textAlignCenter { text-align: center; }
.justify { text-align: justify; }
.preserveWhitespace { white-space: pre-wrap; }




/* white text boxes built around
a flex container with items */

.container {
  margin-top: 2rem; 
  margin-bottom: 2rem;
  gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: space-between;
}

.item {
  box-sizing: content-box; width: 50ch; /* 50–80ch */ 
  padding: 1.15rem;
  background-color: white;
}




/* form */

input, textarea, button {
  appearance: none; -webkit-appearance: none;
  border: solid black 1px;
  border-radius: 0;
  padding: 3px 4px 3px 4px; /* caret position */
  background-color: inherit; font-size: inherit; font-family: inherit;
  resize: none;
  font-style: italic;
}

input::placeholder, textarea::placeholder { color: black; }

#signupForm { line-height: 2.5rem; }

#birthdateLabel { padding-right: 1ch; }

#motivation {
  width: 100%;
  height: 10rem;
}

#submit {
  background-color: black;
  color: white;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  font-style: normal;
}

#submit:hover { cursor:grab; }

#submit:active {
  cursor: grabbing;
  background-color: white;
  color: black;
}




/* 'blogg' page width fix */

@media screen and (max-width: 527px) {
  #insta, .blogpost { box-sizing: border-box; width: 100%; }
}




/* (fake) instagram image gallery */

#instaHeader { margin: 0 0 1rem 0; }

#instaHyperlink { padding-left: 1ch; }

#gallery { 
  display: flex;
  flex-wrap: wrap;  
  gap: 2px;
}

/* ideally use grid */
.galleryImg {
  width: 32%;
  order: 2;
}

.galleryImg:hover { cursor: grab; }

.galleryImg:active { cursor: grabbing; }

.enlarge {
  width: 100%;
  order: 1;
}

/* let galley stick to menu bar when in two column view */
@media screen and (min-width: 1088px) {
  #insta {
    position: sticky;
    --headerHeight: 100px;
    top: var(--headerHeight);
  }
}




/* blog posts */

#blogs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.metadata {
  font-family: monospace;
  font-size: 0.9rem;
  padding: 0.5rem 0 0.5rem 0;
  text-align: left;
}
