/* bli_medlem og blogg */

main { text-align: left; /* undo global */ } 

.title {
  margin: 3rem;
  text-align: center;
}

.container {
  margin-top: 2rem; 
  margin-bottom: 2rem;
  gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: space-between;
}

.item {
  padding: 1.15rem;
  background-color: white;
}

/* Keep left margin from centering 
when less than a full line of text 
is present. */
.item { width: 50ch; /* 50–80ch */ }
@media screen and (max-width: 50ch) { 
  .item { width: 100%; } 
}

h2, h3 { padding-bottom: 0.3rem; }

p {
  white-space: pre-wrap;
  text-align: justify;
  line-height: 1.15rem;
  margin: 0.5rem 0 0.5rem 0;
}

#signupForm { line-height: 2.5rem; }

input, textarea, button {
  appearance: none; -webkit-appearance: none;
  border: solid black 1px;
  border-radius: 0;
  padding: 3px 4px 3px 4px; /* caret position */
  background-color: inherit; font-size: inherit; font-family: inherit;
  resize: none;
  font-style: italic;
}

input::placeholder, textarea::placeholder { color: black; }

#birthdateLabel { padding-right: 1ch; }

#motivation {
  width: 100%;
  height: 10rem;
}

#submit {
  background-color: black;
  color: white;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  font-style: normal;
}

#submit:hover { cursor:grab; }

#submit:active {
  cursor: grabbing;
  background-color: white;
  color: black;
}

.hook > p { text-align: left; }




#instaHeader { margin-bottom: 1rem; }

#instaHyperlink { padding-left: 1ch; }

#gallery { 
  display: flex;
  flex-wrap: wrap;  
  gap: 2px;
}

.galleryImg {
  width: 32.969%;
  order: 2;
}

.enlarge {
  width: 100%;
  order: 1;
}

.metadata {
  font-family: monospace;
  font-size: 0.75rem;
  padding: 0.5rem 0 0.5rem 0;
  text-align: left;
}

#blogs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media screen and (min-width: 832px) {
  #insta {
    position: sticky;
    --headerHeight: 100px;
    top: var(--headerHeight);
  }
}
