header {
    height: 60px;
    margin: 10px 40px 10px 40px;
    display: block;
}

body{
    max-width:780px;
    margin: auto;
    background-color: rgb(221, 252, 255);
    font-family: Verdana, Geneva, sans-serif;
}

section{
    border: 1px solid;
    padding: 50px;
    margin-bottom: 20px;
    background-color: white;
}

img {
    width: 100%;
    margin-bottom: 2rem;
}

p, li {
    text-align: justify;
}