header {
    height: 60px;
    margin-bottom: 10px;
    margin-top: 40px;
    display: block;
}
body{
    width:780px;
    margin: auto;
    background-color: blanchedalmond;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 20px;
}

section{
    border: 1px solid;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 20px;
}
